# Database Config
DATABASE_URL=postgresql://postgres:password@localhost:5432/database_name

# Ollama Config
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=gemma4:31b
OLLAMA_EMBEDDING_MODEL=qwen3-embedding:latest
OLLAMA_EMBEDDING_DIMENSIONS=512

# FastAPI Config
APP_HOST=0.0.0.0
APP_PORT=8000
DEV=true

# LangSmith Config
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<API KEY>
LANGSMITH_PROJECT="LangSmith Project Name"
